.daily{
    flex-grow: 4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 1rem;
    padding:0 1rem;
}

@media (max-width:640px) {
    .daily{
        flex-grow: 1;
        margin-left: 0;
    }
}